@use "mixins/mixins.scss" as *;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include b(icon) {
  display: inline-flex;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  &.rotate {
    animation: rotate 1s infinite linear;
    -webkit-animation: rotate 1s infinite linear;
    -moz-animation: rotate 1s infinite linear;
    -ms-animation: rotate 1.5s infinite linear;
    -o-animation: rotate 1.5s infinite linear;
  }
}
