@use "mixins/mixins.scss" as *;

@include b(tree) {
  width: 100%;
}
@include b(tree-node) {
  padding: 5px 0;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #eee;
  }
  @include e(expand-icon) {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    &.expanded {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
    }
  }
  &.is-leaf {
    fill: transparent;
    cursor: default;
  }
}
